<body id="loginPage">
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center"><span class="fas fa-hospital-alt"></span> Welcome!</h1>
            <hr>
            <h3 class="text-center">What would you like to do today?</h3>
            <br>
            <div class='text-center'>
                <a href="/search"><button class="btn btn-primary btn-lg"><span class="fas fa-search"></span>Search for a Patient</button></a>
                <a href="/addpatient"><button class="btn btn-info btn-lg"><span class="fas fa-user-plus"></span>Add a new Patient</button></a>
                <a href=""><button class="btn btn-warning btn-lg"><span class="fas fa-user-lock"></span>Future Admin stuff?</button></a>
            </div>
        </div>
        <br>
        <div class="footer">
            <footer>
                <a href="https://github.com/benjamintownsend02/UntitledProj2">Github Repo</a>
            </footer>
        </div>
    </div>
    <script type="text/javascript">
    </script>

</body>

</html>