<div class="jumbotron jumbotron-fluid bg-secondary">

  {{!-- Logout Button --}}

  <div class="nav">
    <ul class="nav-item">
       <div class="form-group">
      <a href="/"><button class="btn btn-primary mr-sm-5"> Home</button></a>
    <a href="/logout"><button class="btn btn-primary mr-sm-5">Log Out</button></a>
    </div>
    </ul>
  </div>

  <div class="container">
    <h1 class="display-4 text-center">Welcome to the main page<h1 id="doctor"></h1>
    </h1>
    <p class="lead text-white text-left">Search for a patient</p>

    <nav class="navbar navbar-light bg-secondary">
      <form class="form-inline">


        <input class="form-control mr-sm-2" id="inputSearch" type="text" placeholder="Search" aria-label="Search">

        <button class="btn btn-primary mr-sm-5" type="submit" id="searchDB">Search</button>
        <div class="dropdown">

          <div class="form-group">
            <select class="form-control" id="patientSearch">
              <option selected>Choose an search</option>

              <option value="1">Search patients by id</option>
              <option value="2">Search patients by doctor id</option>
              <option value="3">Search patients by name</option>

            </select>
          </div>
        </div>
      </form>
      <form class="form-inline">
        <button class="btn btn-success" type="submit" id="addNewPatient">Add a new patient</button>
      </form>
    </nav>
  </div>
</div>
<table class="table">
  <thead class="thead-dark" id="patientDb">
    <tr>
      <th>Patient ID</th>
      <th>Patient Name</th>
      <th>Patient DoctorID</th>
      <th>Search Button</th>
    </tr>
    {{#each patients}}
    <tr>
      <td>{{this.dataValues.id}}</td>
      <td>{{this.dataValues.name}}</td>
      <td>{{this.dataValues.DoctorId}}</td>
      <td><button data-patientid="{{this.dataValues.id}}" class="view-patient">View Records</button></td>
    </tr>
    {{/each}}
  </thead>

</table>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
  $( document ).ready( function ()
  {
    $( ".view-patient" ).on( "click", function ( event )
    {
      var id = $( this ).data( "patientid" );
      location.replace( '/displayrec/id/' + id );
    } );


    $( "#searchDB" ).on( "click", function ()
    {
      event.preventDefault()


      var searchType = $( "#patientSearch" ).val();
      console.log( "Search Type ", searchType )
      if ( searchType === "1" )
      {
        patientId = $( "#inputSearch" ).val().trim();
        console.log( "PatientID ", patientId )
        location.replace( '/search/id/' + patientId )

      } else if ( searchType === "2" )
      {
        var doctorId = $( "#inputSearch" ).val().trim();
        console.log( "Doc ID ", doctorId )
        location.replace( "/search/doctorId/" + doctorId )
      } else if ( searchType === "3" )
      {
        var patientName = $( "#inputSearch" ).val();
        console.log( "Doc ID ", patientName )
        location.replace( "/search/" + patientName )
      } else
      {
        console.log( "Its not working" )
      }


    } )


    $( "#addNewPatient" ).on( "click", function ()
    {
      event.preventDefault()
      location.replace( "/addpatient/" )
    } )



  } )

</script>