#login {
    background-image: url("/img/HospitalBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.center-jumbotron {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;

}

/* @media only screen and (max-width: 600px) {
    #loginpage {
        background-image: url(/img/HospitalBG.jpg);
        background-repeat: no-repeat;
        background-size: 450px 900px;
        min-height: 100%;
    }

    .container {
        width: 80%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
} */